.radiobutton {
  margin-bottom: 50px;
}

.radiobutton__tabs {
  display: flex;
  justify-content: center;
}

.radiobutton__tab + .radiobutton__tab {
  margin-left: 8px;
}

.radiobutton__tab-btn {
  color: var(--title-text-color);
  background-color: var(--gray-bg);
  border: none;
  padding: 6px 22px;
  border-radius: 4px;

  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
