.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  margin-right: 90px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo--accent {
  color: var(--primary-black-color);
}
