:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --gray-bg: #f5f4fa;
  --primary-icon-color: #afb1b8;
}
